body .navbar {
  background-color: #000000;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0px;
  border: solid black 0px; }
  body .navbar #textobranco li a {
    color: #fff;
    font-size: 1.3em;
    padding: 20px 15px; }
    body .navbar #textobranco li a:hover {
      background-color: #666666; }
  body .navbar #textobranco .ativo {
    background-color: #333333; }
  body .navbar #myNavbar {
    border: solid black 0px; }
body .carousel .carousel-inner img {
  width: 100%;
  /* Set width to 100% */
  height: auto;
  margin: auto; }
body #txt-principal {
  background-color: #000;
  color: #fff;
  width: 100%; }
  body #txt-principal h1 {
    font-size: 2.2em;
    font-style: italic;
    font-weight: bold; }
  body #txt-principal p {
    font-size: 1.5em;
    padding: 10px 5%; }
body .thumbs .col-xs-15,
body .thumbs .col-sm-15,
body .thumbs .col-md-15,
body .thumbs .col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px; }
body .thumbs .col-xs-15 {
  width: 20%;
  float: left; }
body .thumbs .col-md-15 p:first-child {
  font-weight: bold;
  font-family: sans-serif; }
body .thumbs .tb {
  border: solid #0495D4 3px; }
body .banner {
  padding: 0; }
  body .banner img {
    width: 100%; }
  body .banner #fundopreto {
    width: 100%;
    background-color: #000;
    color: #fff;
    margin: auto;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
    body .banner #fundopreto h1 {
      font-size: 2.6em;
      margin: 0px;
      padding: 15px; }
body .texto {
  font-size: 1.25em; }
  body .texto span {
    font-style: italic;
    font-weight: bolder; }
  body .texto #txorcamento {
    background-color: #0098DB;
    margin: auto;
    display: inline-block;
    border-radius: 10px; }
    body .texto #txorcamento p {
      font-weight: bold;
      color: #fff;
      padding: 7px 10px 0px; }
body .clientes .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
body .clientes-logos {
  width: 160px !important;
  margin: auto; }
  body .clientes-logos img {
    width: 100%; }
body .desc-servicos {
  background-color: #fff;
  width: 100%; }
  body .desc-servicos .desc {
    margin: 30px 15px;
    width: 250px;
    height: 210px;
    display: inline-block;
    color: #fff;
    background-color: #000; }
    body .desc-servicos .desc p {
      padding: 15px 15px;
      font-weight: bold; }
    body .desc-servicos .desc span {
      display: none; }
body .veiculos {
  float: left;
  margin: auto; }
  body .veiculos img {
    margin: auto;
    width: 70%; }
body .mapa {
  text-align: center; }
  body .mapa img {
    margin: auto;
    border: solid #0098DB 2px; }
body #formulario {
  margin: auto;
  text-align: center; }
  body #formulario td {
    padding: 2px 10px;
    text-align: left; }
    body #formulario td input[type=text] {
      padding: 10px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      background-color: rgba(205, 201, 201, 0.8); }
    body #formulario td textarea {
      width: 100%;
      height: 80px;
      padding: 10px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: rgba(205, 201, 201, 0.8);
      font-size: 16px;
      resize: none; }
body .coluna-contato {
  text-align: center; }
  body .coluna-contato p {
    text-align: center; }
  body .coluna-contato img {
    margin: auto; }
body footer {
  background-color: #000;
  color: white;
  padding: 15px; }
  body footer a:link, body footer a:visited, body footer a:hover, body footer a:active {
    color: #fff;
    text-decoration: none; }
  body footer p {
    text-align: left;
    margin-left: 20px;
    font-size: 1.3em; }
    body footer p:first-child {
      color: #0098DB;
      font-weight: bold; }
  body footer .logos-redes-sociais {
    margin-top: 200px;
    min-width: 130px; }
  body footer .contato-footer .img-footer-small {
    width: 20px; }
@media screen and (max-width: 603px) {
  body .carousel-inner
  img {
    min-height: 150px; }
  body .carousel-caption {
    display: none; }
  body #txt-principal {
    width: 100%; }
    body #txt-principal h1 {
      font-size: 1.2em; }
    body #txt-principal p {
      font-size: 1.1em;
      padding: 10px 10px; }
  body .logos-redes-sociais {
    margin-top: 10px !important;
    text-align: left;
    margin-left: 20px; } }
@media screen and (min-width: 992px) {
  body .clientes-logos {
    width: 20%;
    float: left; } }
@media screen and (min-width: 768px) {
  body .navbar-header-wrap {
    padding-left: 0px; } }
@media screen and (min-width: 992px) {
  body .thumbs-col {
    width: 20%;
    float: left; } }

/*# sourceMappingURL=style.css.map */
