body{
.navbar{
  background-color:#000000;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0px;
  border: solid black 0px;

  #textobranco {
    li a{
      color:#fff;
      font-size:1.3em;
      padding:20px 15px;
      &:hover{
      background-color: #666666;
      }
    }
      .ativo{
       background-color: #333333;
      }
    }
    #myNavbar{
      border: solid black 0px;
    }
}

  .carousel .carousel-inner img {
    width: 100%; /* Set width to 100% */
    height: auto;
    margin: auto;
 }

#txt-principal{
background-color:#000;
color:#fff;
width:100%;
    h1{
    font-size:2.2em;
    font-style:italic;
    font-weight:bold;
  }
    p{
    font-size:1.5em;
    padding:10px 5%;
    }
}

.thumbs{
  .col-xs-15,
  .col-sm-15,
  .col-md-15,
  .col-lg-15 {
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;
      font-size:1.2em;
      font-family: 'Open Sans', sans-serif;
      line-height:20px;
    }

  .col-xs-15 {
      width: 20%;
      float: left;
  }

  .col-md-15 p:first-child{
    font-weight:bold;
    font-family: sans-serif;
  }

  .tb{
    border: solid #0495D4 3px;
  }
}

.banner{
  padding: 0;

    img{
      width: 100%;
    }

    #fundopreto{
    width:100%;
    background-color:#000;
    color:#fff;
    margin:auto;
    text-align:center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      h1{
      font-size:2.6em;
      margin:0px;
      padding: 15px;
    }
  }
}


.texto{
font-size:1.25em;
  span{
   font-style:italic;
   font-weight:bolder;
 }

  #txorcamento{
  background-color:#0098DB;
  margin:auto;
  display:inline-block;
  border-radius:10px;
    p{
    font-weight:bold;
    color: #fff;
    padding: 7px 10px 0px;
    }
  }
}

.clientes{
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.clientes-logos{
    width: 160px !important;
    margin: auto;
      img{
      width: 100%;
      }
   }


.desc-servicos{
background-color: #fff;
width:100%;
  .desc{
  margin:30px 15px;
  width:250px;
  height:210px;
  display:inline-block;
  color:#fff;
  background-color: #000;
    p{
    padding:15px 15px;
    font-weight:bold;
    }
    span{
      display: none;
    }
  }
}

.veiculos {
  float: left;
  margin:auto;
  img{
    margin:auto;
    width:70%;
  }
}

.mapa{
text-align:center;
  img{
  margin:auto;
  border: solid #0098DB 2px;
  }
}

#formulario{
margin:auto;
text-align:center;
  td{
  padding: 2px 10px;
  text-align: left;
    input[type=text] {
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:rgba(205,201,201,0.8);
  }
    textarea {
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color:rgba(205,201,201,0.8);
    font-size: 16px;
    resize: none;
  }
 }
}

.coluna-contato{
text-align:center;
  p{
   text-align:center;
  }
  img{
   margin:auto;
  }
}

footer {
  background-color: #000;
  color: white;
  padding: 15px;
  a{
    &:link,
    &:visited,
    &:hover,
    &:active{
      color:#fff; 
      text-decoration:none;
    }
  }
  p{
  text-align:left;
  margin-left:20px;
  font-size:1.3em;
    &:first-child{
    color:#0098DB;
    font-weight:bold;
    }
  }

  .logos-redes-sociais{
    margin-top: 200px;
    min-width: 130px;
  }

  .contato-footer{
    .img-footer-small{
      width: 20px;
    }
  }
}


@media screen and (max-width: 603px) {
  .carousel-inner 
    img {
      min-height: 150px;
  }
  .carousel-caption {
    display: none; 
  }

  #txt-principal{
  width:100%;
      h1{
      font-size:1.2em;
    }
      p{
      font-size:1.1em;
      padding:10px 10px;
      }
  }
  

  .logos-redes-sociais{
    margin-top: 10px !important;
    text-align: left;
    margin-left: 20px;
  }

}
@media screen and (min-width: 992px) {
  .clientes-logos {
      width: 20%;
      float: left;
  }
}
@media screen and (min-width: 768px) {
  .navbar-header-wrap{
    padding-left: 0px;
    }
}

@media screen and (min-width: 992px) {
    .thumbs-col {
        width: 20%;
        float: left;
    }
}
}